{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-2">Django-Blog</h1>
        <p class="lead">A simple blog utilizing the Django web framework.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Blog</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ queryset.title|title }}</li>
                </ol>
            </nav>
            {% if queryset.draft %}
            <div class="alert alert-danger" role="alert">
                Draft: This post is a draft and not currently viewable by the public!
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>{{ queryset.title|title }}</h1>
            <p>Published: {{ queryset.orig_time|naturalday|title }}<br>By: {{ queryset.author }}</p>
            <img src="{{ queryset.image.url }}" class="rounded mx-auto d-block my-2" width="400" height="400">
            <p>{{ queryset.text_body|linebreaks|safe }}</p>
            <a href="{% url 'home' %}">Back</a>
        </div>
    </div>
</div>

{% endblock %}